#general{
    background-color: rgb(190, 183, 190);
    
}
#firstfour{
display: flex;
justify-content:space-between;
}
#secondfour{
    display: flex;
    justify-content: space-between;
}
.main-wrapper{
    margin-left: 16%;
}
.img-one .img-two , .img-three,
 .img-four , .img-six ,.img-seven ,
 .img-eight {
    width:40%;
    height:40%;
    padding: 16px;
 }
.button{
    border-radius: 50%;
    background-color: black ;
    color:white;
    margin-left: 50%;
    width: 50px;



}

.text{
    font-size: 18px;
    padding: 18px;
    margin-left: 10%;
    display: flex;

}
.shoes{
    background-image : url('images/lofers0.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 1000px;
    background-size: cover;
    margin-bottom: 10%;
    border: solid black 10px;
    
    
}
#smartshoes{

display: flex;
gap: 125px;

}
#container{
    display: flex;
}

#Explore{
    font-size: 25px;
    font-style: italic;
}

#Await{
    font-size: 23px;
    font-style: italic;
}
#magic{
    font-size: 25px;
    font-style: italic;
}


#Words{
    background-color: black;
    color: white;
}

#embrace{
    font-size: 25px;
    font-style: inherit;
    
}  

#down{
display: flex;
justify-content: space-between;
}